<%= form_with scope: :session, url: session_path, data: { turbo: false }, class: 'form' do |form| %>
  <div class="form__field">
    <%= form.label :email, class: "form__label" %>
    <%= form.email_field :email,
            value: @email || params.dig(:session, :email),
            autofocus: true,
            autocomplete: "username",
            class: "form__input" %>
  </div>

  <div class="form__field">
    <%= form.label :password, class: "form__label" %>
    <%= form.password_field :password,
                        autocomplete: "current-password",
                        class: "form__input" %>
  </div>

  <div class="form__actions">
    <button type="submit" class="form__btn">
      <%= t("sessions.new.sign_in") %>
    </button>
  </div>
<% end %>
