<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :styles %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "application" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
