<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="<%= @current_theme %>">
<head>
<title><%= content_for?(:title) ? yield(:title) : t("app.name") %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= yield :styles %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
  <body>
    <%= yield %>
  </body>
</html>
