<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="<%= current_theme %>">
<head>
  <script>
    (function(){
      try {
        var m = document.cookie.match(/(?:^|; )theme=(light|dark)(?:;|$)/);
        if (m && m[1]) document.documentElement.setAttribute('data-theme', m[1]);
      } catch(_) {}
    })();
  </script>

  <title><%= content_for?(:title) ? yield(:title) : t('app.name', default: 'Journey') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="theme" content="<%= current_theme %>">
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= yield :styles %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>
  <body>
    <%= yield %>
  </body>
</html>

